html {
  margin-top: 0 !important;
}

body {
  margin-top: $navbar-height;
  @media (max-width: $tablet - 1px) {
    font-size: $body-size-mobile;
  }
  overflow-x: hidden;
}

img {
  font-size: 0.75rem !important;
}

.section {
  overflow-x: hidden;
}

.is-fullheight {
  // min-height: calc(100vh - #{$navbar-height} - (2.6 * 2) * 1em - #{$size-7});
  min-height: calc(100vh - #{$navbar-height});
}

.hero.is-fullheight {
  min-height: calc(100vh - #{$navbar-height});
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-self-flex-end {
  align-self: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.title {
  letter-spacing: -.015em;
}

.button {
  font-weight: $weight-semibold;

  &.is-medium {
    height: 2.5rem;
  }

  &.is-large {
    height: 2.5rem;
  }
  @media (min-width: $tablet) {
    &.is-medium {
      height: 2.7777777778rem;
    }

    &.is-large {
      height: 3.1111111111rem;
    }
  }

  @media (max-width: $tablet - 1px) {
    &,
    &.is-rounded {
      font-size: $size-5;
      padding-left: 2em;
      padding-right: 2em;

      &.is-fullwidth {
        &,
        &-mobile {
          padding-left: 0.2em;
          padding-right: 0.2em;
        }
      }
    }
  }

  &.is-white {
    color: $primary;

    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
  }
}
@media screen and (min-width: $desktop) {
  .container.is-9 {
    max-width: calc(#{$desktop - 2 * $gap} * 0.7457446809);
  }
}

.has-border-radius {
  border-radius: $radius-large;
  overflow: hidden;
}

.margin-bottom {
  margin-bottom: 1rem !important;

  &-negate {
    margin-bottom: -1rem !important;
  }

  &-medium {
    margin-bottom: 2rem !important;

    &-negate {
      margin-bottom: -2rem !important;
    }
  }

  &-large {
    margin-bottom: 2rem !important;

    &-negate {
      margin-bottom: -2rem !important;
    }
  }
  @media (min-width: $tablet) {
    &-large {
      margin-bottom: 4rem !important;

      &-negate {
        margin-bottom: -4rem !important;
      }
    }
  }
}

.margin-top {
  margin-top: 1rem !important;

  &-negate {
    margin-top: -1rem !important;
  }

  &-medium {
    margin-top: 2rem !important;

    &-negate {
      margin-top: -2rem !important;
    }
  }

  &-large {
    margin-top: 2rem !important;

    &-negate {
      margin-top: -2rem !important;
    }
  }
  @media (min-width: $tablet) {
    &-large {
      margin-top: 4rem !important;

      &-negate {
        margin-top: -4rem !important;
      }
    }
  }
}

p + .button {
  margin-top: 2rem;
}

.link-hidden {
  color: $text !important;
}

a[href].icon {
  color: $primary;
}

.navbar.is-fixed-top {
  backdrop-filter: saturate(180%) blur(20px);
}

.is-fixed {
  position: fixed;

  &.hero {
    overflow-y: scroll;
    padding-top: $navbar-height;
    @supports (backdrop-filter: saturate(180%) blur(20px)) or (-webkit-backdrop-filter: saturate(180%) blur(20px)) {
      background-color: rgba(255,255,255,.95) !important;
      backdrop-filter: saturate(180%) blur(20px);
    }
  }
}

address {
  font-style: normal;
}

.small,
small {
  line-heigth: 1;
}

.strong,
strong {
  font-weight: $weight-semibold;
}

.space-between {
  justify-content: space-between;
}

figure.image {
  max-width: 100%;
}

.panel-component {
  border-radius: $radius-large;
  padding: 3rem 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fcfbfb;
  background: linear-gradient(45deg, #fdfdfd 0%,#f9f9f9 96%);
  color: $text;

  .title {
    margin-bottom: 1rem;
  }
}

a .panel-component {
  @include gpurender;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    @include gpurender;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(135deg, #f9f9f9 0%,#ddd7ef 100%);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
    border-radius: $radius-large;
  }
}

a:focus,
a:hover {
  .panel-component::before {
    opacity: 1;
  }
}

a:active {
  .panel-component::before {
    opacity: 0.3;
  }
}
@each $key in contain, cover, fill {
  .has-ratio.#{$key} {
    object-fit: $key;
  }
}
@media (min-width: $tablet) {
  .has-text-right-tablet {
    text-align: right;
  }

  .has-text-centered-tablet {
    text-align: center;
  }
}
@media (max-width: $tablet - 1px) {
  .is-fullwidth-mobile {
    &.image {
      margin-left: -$gap;
      margin-right: -$gap;
    }
    &.button {
      width: 100%;
    }
  }
  @each $key, $value in ("1": 6.7222222222, "2": 4.5, "3": 3, "4": 2, "5": 1.3333333333, "6": 1,) {
    .title.is-#{$key} {
      font-size: calc(1.2rem + #{$value}vw);
    }
  }
}
@each $key, $value in ("1": 6.7222222222, "2": 4.5, "3": 3, "4": 2, "5": 1.3333333333, "6": 1, "7": 0.7777777778) {
  .is-size-#{key}-rem {
    font-size: #{$value}rem;
  }
}
// .button,
// .link,
// a[href] {
//   transition: background-color, border-color, color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
//   -webkit-tap-highlight-color: transparent;
// }
