$body-size: 18px;

$size-1: 6.7222222222em;
$size-2: 4.5em;
$size-3: 3em;
$size-4: 2em;
$size-5: 1.3333333333em;
$size-6: 1em;
$size-7: 0.7777777778em;
$size-8: 0.6666666667em;
$size-9: 0.5em;

$small-font-size: $size-7;
$size-small: $size-8;
$size-normal: $size-7;
$size-medium: $size-7;
$size-large: $size-5;

$body-line-height: 1.5;
// $title-line-height: 1.25;
// $subtitle-line-height: 1.75;

$weight-bold: 800;

$purple: #574591;
$primary: $purple;
$link: #5C3EBC;

$gap: 32px;
$desktop: 940px + (2 * $gap);
$widescreen-enabled: false;
$fullhd-enabled: false;

$button-border-width: 2px;
$button-padding-horizontal: 3em;

$navbar-background-color: rgba(255,255,255,.8);
$navbar-height: 3.7777777778rem;

$section-padding-medium: 6rem 1.5rem;
$section-padding-large: 9rem 1.5rem;

$footer-background-color: #DDD7EF;
$footer-color: #606060;
$footer-padding: 2.6rem 1.5rem;

$radius-large: 12px;
